/* Style the navbar */
#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* Background */
background: hsla(191, 100%, 41%, 1);

background: linear-gradient(0deg, hsla(191, 100%, 41%, 1) 0%, hsla(156, 70%, 65%, 1) 100%);

background: -moz-linear-gradient(0deg, hsla(191, 100%, 41%, 1) 0%, hsla(156, 70%, 65%, 1) 100%);

background: -webkit-linear-gradient(0deg, hsla(191, 100%, 41%, 1) 0%, hsla(156, 70%, 65%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00ABD1", endColorstr="#68E4B2", GradientType=1 );
